.git
.github
.idea
.vscode

.env
.env.*
!.env.example

**/node_modules
**/dist
**/build
**/coverage
**/.cache

web
deploy/mail
docs
tmp
pgdata
redisdata
natsdata

*.log
*.tmp
*.bak
/gateway
/ERP
/mailcow
